// 救援资源公共样式

/*      详情        */
.supply-content {
    width: 100%;
    height: calc(100% - 60px);
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    /deep/ .el-scrollbar__view{
        padding-right: 10px;
    }
}
.su-com-basic {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
}
.com-mid-left {
    display: flex;
    flex-direction: column;
    width: 87%;
}
.com-mid-right {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
    img{
        width: 151px;
        height: 142px;
        // border-radius: 50%;
    }
}
.su-com-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
    .title {
        font-size: 14px;
        color: #333333;
        font-weight: bold;
    }
    .time {
        font-size: 12px;
        color: #999999;
        margin-left: 10px;
    }
}
.com-mid-unit {
    width: 33.33%;
    float: left;
    margin-top: 10px;
    span:nth-of-type(1) {
        font-size: 14px;
        color: #333333;
    }
    span:nth-of-type(2) {
        font-size: 14px;
        color: #201515;
    }
}
.content-t{
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.table-scr{
    height: 300px;
    margin-bottom: 20px;
    .el-scrollbar__wrap {
        overflow-x: hidden;
        padding-right: -19px;
        .el-scrollbar__view{
          padding-right: 10px;
        }
      }
}

/*        新增          */
.input-content{
    margin-bottom: 20px;
    border-bottom: 1px solid #E1E1E1;
    .fl-unit{
        width: 30%;
        float: left;
        margin-right:3.333%
    }
    .full-unit{
        width: 96.667%;
        float: left;
        margin-right:3.333%
    }
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.operation_btn:last-child{
    border-right: none !important;
}

.print-content{
    width: 100%;
    height: calc(100% - 60px);
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    position: absolute;
    top: 50px;
    left: 3000px;
    z-index: 10;
    /deep/ .el-table thead th{
      background-color: #ffffff;
      border-left:1px solid #333333;
    }
    /deep/ .el-table--border td{
      background-color: #ffffff;
      border-top:1px solid #333333;
      border-left:1px solid #333333;
    }
    /deep/ .el-table thead th:nth-of-type(1){
      border-left:none;
    }
    /deep/ .el-table--border td:nth-of-type(1){
      border-left:none;
    }
    .pur-pri-info{
      width: 100%;
      border-top:1px solid #333333;
      border-left:1px solid #333333;
      border-right:1px solid #333333;
      padding-left: 10px;
      .info-title{
        width: 100%;
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 18px;
        color: #333333;
        font-weight: bold;
      }
    }
    .info-unit{
      float: left;
      font-size: 14px;
      color: #333333;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .w33{
      width: 33.33%;
    }
    .w66{
      width: 66.66%;
    }
    .t-bottom{
      border-top:1px solid #333333;
      border-bottom:1px solid #333333;
      border-left:1px solid #333333;
      border-right:1px solid #333333;
      position: relative;
      top: -1px;  
      left: 0px;
    }
}

.supply-content{
  .el-table {
    .el-table__header {
      width: 100% !important;
    }
    .el-table__body {
      width: 100% !important;
    }
  }
}