// 项目主色调颜色
$main_color: #5458FD;
$Secondary1_color: #4448dd;
$Secondary2_color: #484ce6;
$Secondary3_color: #4c4fed;
$Secondary4_color: #5458fe;
$Secondary5_color: #f4f6fb;
$default_back: #F1F1F1; // 项目默认背景颜色
$secondary_color: #ff9900; // 项目次要颜色--橙色
$succuss_color:#62CB5E;
$waring_color:#FEAE4D;
$error_color:#FA453A;



$btn_warning_color: #FFA800; // 警告按钮颜色
$btn_warning_hover_color: #E08400; // 警告按钮移入颜色


// 项目公共文字颜色
$font_333: #333; // 一级标题文字颜色 
$font_666: #666; // 二级文字颜色
$font_999: #999; // 注释文字
$font_dis: #c3c9d8; // 禁用/提示文字
$font_wran: #fa453a; // 重点突出色


$border_color: #e5eaf4;    // 线框色
$separate: #f0f2f5;    // 分隔线


//按钮
$hover_color:#4549E3;
$canel_color:#F1F3FF;
$canel_hover_color:#DFE0FD;

// 输入框
$focus_border_color: #8386FF;
$focus_shadow_color: #EDEEFF;
$error_border_color: #FC685F;
$error_shadow_color: #FFDCDA;
